<body >
      <div id="loginContainer" class="topMargin">
        <div class="wrapper fadeInDown">
        <h1>Login</h1>
        <br>
          <div [formGroup]="form" (ngSubmit)="onSubmit()" id="formContent">

            <input type="text" id="login" class="fadeIn first" formControlName="email" name="login" placeholder="email">
            <input type="password" id="password" class="fadeIn second" formControlName="password" name="login" placeholder="password">
            <br>
              <button [disabled]="!form.valid" class="btn btn-primary">
                Login
              </button>
              <a routerLink="../register" class="btn btn-link">Register</a>
            </div>
          </div>
        </div>
</body>


