<p-table [value]="employees">
  <ng-template pTemplate="header">
    <tr>
      <th>Full Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Nationality</th>
      <th>isTeamLeader</th>
      <th>Department</th>
      <th>Salary</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-employee>
    <tr>
      <td>{{employee.fullName}}</td>
      <td>{{employee.address}}</td>
      <td>{{employee.email}}</td>
      <td>{{employee.phone}}</td>
      <td>{{employee.nationality}}</td>
      <td>
        <div *ngIf="employee.teamLeader == true; else templateName">
          <i class="pi pi-check" ></i>
        </div>

        <ng-template #templateName>
          <i class="pi pi-times"></i>
        </ng-template>
      </td>
      <td>{{employee.department}}</td>
      <td>{{employee.salary}}</td>
      <td>
        <button (click) = "updateEmployee(employee.employeeID)" class = "btn btn-primary"> Update</button>
        <button (click) = "deleteEmployee(employee.employeeID)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
        <button (click) = "employeeDetails(employee.employeeID)" class = "btn btn-primary" style="margin-left: 10px"> View</button>
      </td>
    </tr>
  </ng-template>
</p-table>

