<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center"> Update Employee </h3>
      <hr />
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label> Full Name</label>
            <input type="text" class="form-control" id="fullName" [(ngModel)]="employee.fullName"
                   name="fullName">
          </div>

          <div class="form-group">
            <label> Address</label>
            <input type="text" class="form-control" id="address" [(ngModel)]="employee.address"
                   name="address">
          </div>

          <div class="form-group">
            <label> Email</label>
            <input type="text" class="form-control" id="email" [(ngModel)]="employee.email"
                   name="email">
          </div>

          <div class="form-group">
            <label> Phone</label>
            <input type="text" class="form-control" id="phone" [(ngModel)]="employee.phone"
                   name="phone">
          </div>

          <div class="form-group">
            <label> Nationality</label>
            <input type="text" class="form-control" id="nationality" [(ngModel)]="employee.nationality"
                   name="nationality">
          </div>

          <div class="form-group">
            <label> Salary</label>
            <input type="text" class="form-control" id="salary" [(ngModel)]="employee.salary"
                   name="salary">
          </div>

          <div class="form-group">
            <label> Department</label>
            <input type="text" class="form-control" id="department" [(ngModel)]="employee.department"
                   name="department">
          </div>

          <div class="form-group">
            <label> is Team Leader</label>
            <input type="number" class="form-control" id="TeamLeader" [(ngModel)]="employee.teamLeader"
                   name="TeamLeader">
          </div>

          <br />
          <button class="btn btn-success" type="submit">Submit</button>

        </form>
      </div>
    </div>
  </div>
</div>
