<body>
<div id="updateContainer" class="topMargin">
  <div class="wrapper fadeInDown">
    <h1 >Update Employee</h1>
    <form (ngSubmit)="onSubmit()" id="formContent">
      <label> Full Name</label>
      <input type="text"  class="fadeIn first" id="fullName" [(ngModel)]="employee.person.fullName"/>

      <label> Address</label>
      <input type="text"  class="fadeIn second" id="address" [(ngModel)]="employee.person.address" name="address" />

      <label> Email</label>
      <input type="text"  class="fadeIn third" id="email" [(ngModel)]="employee.person.email" name="email" />


      <label> Phone</label>
      <input type="text"  class="fadeIn fourth"id="phone" [(ngModel)]="employee.person.phone" name="phone"  />

      <label> Nationality</label>
      <input type="text" class="fadeIn fifth" id="nationality" [(ngModel)]="employee.person.nationality" name="nationality" />

      <label> Salary</label>
      <input type="text" class="fadeIn sixth" id="salary" [(ngModel)]="employee.salary" name="salary" />

      <label> Department</label>
      <input type="text" class="fadeIn seventh" id="department" [(ngModel)]="employee.department" name="department" />

      <label> Is Team Leader</label>
      <input type="text" class="fadeIn eight" id="TeamLeader" [(ngModel)]="employee.teamLeader" name="teamLeader" />

      <button class="btn btn-success" id="btn-custom" type="submit">Submit</button>

    </form>
  </div>
</div>

</body>



