<body>
  <div id="regContainer" class="topMargin">
    <div class="wrapper fadeInDown">
      <h1 >Register</h1>
      <div [formGroup]="form" (ngSubmit)="onSubmit()" id="formContent">
        <br>
              <input type="text" formControlName="firstName" class="fadeIn first" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
              </div>
        <br>
              <input type="text" formControlName="lastName" class="fadeIn second" placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
              </div>
        <br>
              <input type="text" formControlName="email" class="fadeIn third" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
              </div>
        <br>
              <input type="text" formControlName="phone" class="fadeIn fourth" placeholder="Phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
              <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">Phone is required</div>
              </div>
        <br>
              <input type="password" formControlName="password" class="fadeIn fifth" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>

              <button id="btn-custom" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
              </button>
              <a routerLink="../login" class="btn btn-link">Cancel</a>
          </div>
        </div>
      </div>

</body>
