/*img.bg {*/
/*  !* Set rules to fill background *!*/
/*  min-height: 100%;*/
/*  min-width: 1024px;*/

/*  !* Set up proportionate scaling *!*/
/*  width: 100%;*/
/*  height:100vh;  !* responsive height *!*/


/*  !* Set up positioning *!*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*}*/

/*@media screen and (max-width: 1024px) { !* Specific to this particular image *!*/
/*  img.bg {*/
/*    left: 50%;*/
/*    margin-left: -512px;   !* 50% *!*/
/*  }*/
/*}*/
body {
  height: 100vh;
  background-image: url("../../assets/images/empmanag.png");
  background-size: 100%;
  background-size: cover;
}
#name,#role,#role1{
  font-size: 1.2rem;
  font-weight: 600;
  display:inline-block;
  margin-right: 7px;

}
#name{
  font-size: 1.2rem;
  font-weight: 600;
  display:inline-block;
}


.p-card-content {
  font-size: 1.2rem!important;
}
